/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
div#stopshowing_settings {
    width: 50%;
}
div#stopshowing_settings table tr {
    text-align: left;
    width: 50%;
}
div#stopshowing_settings table{
    width: 100%;
}
div#stopshowing_settings table tr th {
    width: 20%;
}
div#stopshowing_settings table tr td {
    width: 50%;
}
div#stopshowing_settings table tr td input, div#stopshowing_settings table tr td textarea{
    width: 100%;
}
div#stopshowing_settings table tr td textarea{
    
}
input.readonly, input[readonly], textarea.readonly, textarea[readonly] {
    background-color: #66b12221 !important;
    color: #2271b1 !important;
}